<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.njnu.mapper.FavoriteMapper">
    <select id="folder" resultType="map">
        SELECT folder_id,folder_name,folder_sort FROM t_folder WHERE user_id = #{userID}
    </select>
    <select id="collection" resultType="resource">
        SELECT t_resource.`id`,t_collection.`resource_id`,resource_name,file_type FROM t_collection INNER JOIN t_resource WHERE t_collection.`resource_id` = t_resource.`id` and folder_id = #{folderID}
    </select>
</mapper>