<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.njnu.mapper.ResourceMapper">
    <!-- 根据关键词查资源 -->
    <select id="queryResourceByKeywords" resultType="resource">
        select id, resource_name, download, collection, `period`, grade, subject, url, entity, updateTime from t_resource where
        <trim suffixOverrides="and">
            <if test="keyword!=null">entity like concat('%',#{keyword},'%') and </if>
            <if test="resourceType!=0">resource_type=#{resourceType} and </if>
            <if test="period!=0">`period` = #{period} and </if>
            <if test="grade!=0">grade = #{grade} and </if>
            <if test="subject!=0">subject = #{subject} and </if>
            <if test="updateTime!=null">updateTime >= #{updateTime}and </if>
        </trim>
        limit #{limit},#{perPage};
    </select>
    <!-- 根据关键词查资源个数 -->
    <select id="queryResourceNumByKeywords" resultType="int">
        select count(id) from t_resource where
        <trim suffixOverrides="and">
            <if test="keyword!=null">entity like concat('%',#{keyword},'%') and </if>
            <if test="resourceType!=0">resource_type=#{resourceType} and </if>
            <if test="period!=0">period = #{period} and </if>
            <if test="grade!=0">grade = #{grade}and </if>
            <if test="subject!=0">subject = #{subject} and </if>
            <if test="updateTime!=null">updateTime >= #{updateTime} and </if>
        </trim>
    </select>
    <!-- 根据ID查资源 -->
    <select id="queryResourceByID" resultType="resource">
         select id, resource_name, download, collection, `period`, grade, subject, url, entity from t_resource where id = #{resource_id}
    </select>
    <!-- 获取资源类型 -->
    <select id="queryType" resultType="HashMap">
        select type_id, resource_type from t_resource_type
    </select>
    <!-- 根据资源ID查找相关资源 -->
    <select id="queryRelated" resultType="string">
        select related_10 from t_resource where id = #{resource_id}
    </select>
    <!-- 通过实体找资源 -->
    <select id="queryResourceByEntity" resultType="resource">
        select id, resource_name, download, collection, `period`, grade, subject, url, entity, updateTime from t_resource where entity like concat('%',#{entity},'%')
    </select>
    <!-- 查教学目标和重难点 -->
    <select id="queryGoalAndKey" resultType="HashMap">
        select t_goal, t_key, resource_id from t_instruction_plan_clips inner join t_resource on t_instruction_plan_clips.resource_id = t_resource.id where entity like concat('%',#{entity},'%')
    </select>
</mapper>