<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.njnu.mapper.ResourceMapper">
    <!-- 根据ID查资源 -->
    <select id="queryResourceByID" resultType="resource" >
         select id, resource_name, download, collection, browse, `period`, grade, subject, updateTime, `table`, tableResourceID, resource_type, rate, file_type from t_resource where id = #{id}
    </select>
    <!-- 根据ID查资源 -->
    <select id="queryResourceByIDList" resultType="resource" >
        select id, resource_name, download, collection, browse, `period`, grade, subject, updateTime, `table`, tableResourceID, resource_type, rate, file_type from t_resource
        <where>
            <if test="type!=0">resource_type =#{type} and </if>
            (
            <trim suffixOverrides="or">
                <foreach item="id" collection="IDList">(id = #{id}) or </foreach>
            </trim>
            )
        </where>
        <trim>
            <if test="sort == 1">order by browse desc</if>
            <if test="sort == 2">order by updateTime desc</if>
        </trim>
    </select>
    <!-- 根据ID查资源 -->
    <select id="queryResourceByContent" resultType="resource" >
        select id, resource_name, download, collection, browse, `period`, grade, subject, updateTime, `table`, tableResourceID, resource_type, rate, file_type from t_resource
        <where>
            <trim suffixOverrides="and">
                <if test="content!=null">resource_name like concat('%',#{content},'%') and </if>
                <if test="type!=0">resource_type =#{type} and </if>
            </trim>
        </where>
        <trim>
            <if test="sort == 1">order by browse desc</if>
            <if test="sort == 2">order by updateTime desc</if>
        </trim>
    </select>
    <!-- 获取资源类型 -->
    <select id="queryType" resultType="HashMap">
        select type_id, resource_type from t_resource_type
    </select>
    <!-- 通过实体找资源 -->
    <select id="queryResource" resultType="resource">
        select id, resource_name, download, collection, `period`, grade, subject, url, view_url, entity, updateTime, resource_type, browse, rate, file_type from t_resource where
        <trim suffixOverrides="and">
            <if test="entity!=null">entity like concat('%',#{entity},'%') and </if>
            <if test="type!=0">resource_type =#{type} and </if>
        </trim>
        <trim>
            <if test="sort == 1">order by browse desc</if>
            <if test="sort == 2">order by updateTime desc</if>
        </trim>
        limit #{start},#{end};
    </select>
    <!-- 查教学目标和重难点 -->
    <select id="queryGoalAndKey" resultType="HashMap">
        select distinct t_goal, t_key from t_instruction_plan_clips
    </select>
    <!-- 更新资源浏览次数 -->
    <update id="updateBrowse">
        update t_resource set browse = #{browse} where id = #{resourceID}
    </update>
    <!-- 更新资源下载次数 -->
    <update id="updateDownload">
        update t_resource set download = #{download} where id = #{resourceID}
    </update>
    <!-- 查热门资源 -->
    <select id="queryHot" resultType="resource">
        SELECT id, resource_name, download, collection, `period`, grade, browse, `subject`, updateTime, file_type FROM t_resource ORDER BY browse DESC LIMIT 8
    </select>
    <!-- 查最新资源 -->
    <select id="queryTime" resultType="resource">
        select id, resource_name, download, collection, `period`, grade, browse, `subject`, updateTime, file_type from t_resource order by updateTime desc limit 8
    </select>

    <!-- 查文档url -->
    <select id="queryDocument" resultType="HashMap">
        select *from t_document where id = #{id}
    </select>
    <select id="queryUrl" resultType="String">
        select url from t_document inner join t_resource where t_resource.tableResourceID = t_document.id and t_resource.id = #{resourceID}
    </select>
    <!-- 查bilibili -->
    <select id="queryBvideo" resultType="HashMap">
        select *from t_bvideo where id = #{id}
    </select>
    <!-- 查本地视频 -->
    <select id="queryVideo" resultType="HashMap">
        select *from t_video where id = #{id}
    </select>
</mapper>


