.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.bold {
  font-weight: bold;
}

.full-width {
  width: 100%;
}

.lg-container {
  margin: 0 auto;
  width: 1200px;
}

.main-container {
  margin-left: 0;
  /*width: 80%;*/
  margin-top: 1rem;
  /*空出nav-menu的位置*/
  height: calc(100vh - 100px);
}

.none {
  display: none;
}

/*!* 主要界面需要向右移，和logo右侧对齐 *!*/
/*.main-container {*/
/*  margin-left: 176px;*/
/*}*/

/*!* main container 下面的div *!*/
/*.out-first-screen {*/
/*  margin-left: 176px;*/
/*  margin-top: 1rem;*/
/*}*/
